.banner {
  padding: 0;

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  &__slider-list {
    .slick-dots {
      bottom: 137px;
      height: 6px;
      font-size: 6px;
      margin: 0;
      padding: 0;
      padding-left: 2px;

      li {
        vertical-align: top;
        width: 76px;
        height: 6px;
        margin-right: 6px;
        background-color: rgba(#ffffff, 0.8);
        box-shadow: 0 0 9px 1px rgba(16, 16, 16, 0.85);
        button {
          width: 0;
          height: 6px;
          padding: 0;
          background-color: #ffd34c;
          transition: 0;
          &::before,
          &::after {
            content: none;
          }
        }
      }
      li.slick-active {
        button {
          width: 100%;
          transition: 4000ms linear;
        }
      }
    }
  }

  &__slide {
    background-position: center;
    background-size: cover;
    height: 976px;
  }

  &__slider-nav {
    position: absolute;
    top: 258px;
    right: 0;

    .slick-track {
      width: 145px;
    }
    .slick-slide {
      width: 145px;
      margin-top: 6px;
      margin-bottom: 7px;
      border: none;
      
    }
    .slick-current {
      .border {
        display: block;
      }
    }
  }

  &__nav-item {
    position: relative;
    cursor: pointer;
    width: 145px;
    margin-bottom: 13px;
    .border {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid #ffd34c;
    }
    &_active {
      .border {
        display: block;
      }
    }
    img {
      display: block;
    }
    &:hover {
      .border {
        display: block;
      }
    }
    
  }
}

.about-slide {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -35px;
  &__title-top {
    padding-top: 6px;
    padding-bottom: 25px;
    padding-right: 8px;
    max-width: 420px;
    flex-basis: 420px;
    background-color: #211f53;
    color: #ffffff;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    span {
      display: block;
      font-size: rem(72);
    }
  }
  &__title-bottom {
    padding-top: 30px;
    padding-bottom: 33px; 
    padding-right: 6px;
    max-width: 362px;
    flex-basis: 420px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: auto;
    background-color: #5c70d6;
    color: #ffffff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  &__wrapper-button {
    width: 100%;
    margin-top: 165px;
  }
  &__button-more {
    @include button-yellow;
    padding-left: 52px;
    padding-right: 63px;
    margin-right: 14px;
  }
  &__button-video {
    @include button-blue;
    padding-left: 70px;
    padding-right: 34px;
    svg {
      position: absolute;
      width: 29px;
      height: 29px;
      top: 50%;
      left: 27px;
      margin-top: -15px;
      fill: #ffffff;
    }
  }
}

@keyframes bigArrowAnimate {
  0% { fill: #9faada}
  25% { fill: #c8ceeb}
  75% { fill: #9faada}
  100% { fill: #9faada}
}

@keyframes bigArrowAnimateHover {
  0% { fill: #7685e4; opacity:0.7}
  25% { fill: #6475e1; opacity:1}
  75% { fill: #7685e4; opacity:0.7}
  100% { fill: #7685e4; opacity:0.7}
}

.about-work {
  position: relative;
  padding: 0;
  background-color: #f2f4fa;
  &__header {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: -66px;
    left: 0;
    right: 0;
    margin-left: 585px;
    padding-top: 29px;
    padding-bottom: 34px;
    padding-left: 119px;
    background-color: #f8f9fd;
    color: #211f53;
    font-size: rem(20);
    line-height: rem(26);
    font-family: "Lato", Arial, sans-serif;
    font-weight: 700;
    span {
      display: block;
      max-width: 900px;
      padding-right: 30px;
    }

    svg {
      position: absolute;
      left: 43px;
      top: 40px;
      width: 36px;
      height: 35px;
      path {
        animation: bigArrowAnimate 1.5s infinite;
      }
      path.a1 {
        animation-delay:-0.5s;
      }

      path.a2 {
        animation-delay:0s;
      }
    }
    &:hover {
      svg {
        path {
          animation: bigArrowAnimateHover 1.5s infinite;
        }
        path.a1 {
          animation-delay:-0.5s;
        }
        path.a2 {
          animation-delay:0s;
        }
      }
    }
  }

  &__content {
    height: 654px;
    padding-top: 100px;
    display: none;
    background-color: #ffffff;
    background-image: url("../images/main-background.jpg");
    background-size: 180px;
    &_active {
      // display: block;
    }
  }
  &__title {
    padding-top: 20px;
    padding-left: 7px;
    color: #1a1a1a;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(40);
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34px;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    border-radius: 50%;
    transition: 0.3s;
    svg {
      margin-top: 15px;
      max-width: 100%;
      max-height: 100%;
      fill: url(#workGradient);
    }
  }

  &__tab-link {
    cursor: pointer;
    &:hover {
      .about-work__icon {
        background-color: #ffe828;
      }
    }
    &_active {
      .about-work__tab-content {
        display: block;
      }
      .about-work__icon {
        background-color: #ffe828;
      }
    }
    position: relative;
    padding-top: 106px;
    color: #5a6dd2;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  &__tab-content {
    cursor: auto;
    width: calc(600% + 18px);
    text-align: left;
    display: none;
    position: absolute;
    top: 183px;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    min-height: 225px;
    &::after {
      content: ''; 
      position: absolute; 
      left: 38%;
      top: -5px; 
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1);
      transform: rotate(45deg);
     }
  }
  &__tab-image {
    position: relative;
    z-index: 3;
    background-color: #ffffff;
  }
  &__tab-title {
    position: relative;
    z-index: 3;
    background-color: #ffffff;
  }
  &__tab-text {
    position: relative;
    z-index: 3;
    background-color: #ffffff;
  }
  &__tab-list {
    position: relative;
  }
  &__progress-bar {
    position: absolute;
    top: 59px;
    left: 7%;
    right: 6%;
    height: 14px;
    background-color: #edeff8;
  }
  &__progress-line {
    transition: 0.5s;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to right, #feae31 0%, #ffe828 100%);
  }
  .row {
    .col-md-2:nth-child(1) {
      .about-work__tab-content {
        right: auto;
        &::after {
          left: 6%;
        }
      }
    }
    .col-md-2:nth-child(2) {
      .about-work__tab-content {
        margin-left: calc(-100% + 38px);
        &::after {
          left: 18.5%;
        }
      }
    }
    .col-md-2:nth-child(3) {
      .about-work__tab-content {
        margin-left: calc(-200% + 8px);
      }
      &::after {
        left: 38%;
      }
    }
    .col-md-2:nth-child(4) {
      .about-work__tab-content {
        margin-left: calc(-300% - 22px);
        &::after {
          left: 57.5%;
        }
      }
    }
    .col-md-2:nth-child(5) {
      .about-work__tab-content {
        margin-left: calc(-400% - 52px);
        &::after {
          left: 77%;
        }
      }
    }
    .col-md-2:nth-child(6) {
      .about-work__tab-content {
        left: auto;
        &::after {
          left: 90%;
        }
      }
    }
  }
  &__tab-image {
    padding-top: 59px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__tab-title {
    margin-left: -45px;
    padding-top: 59px;
    padding-bottom: 14px;
    color: #362068;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1;
  }
  &__tab-text {
    max-width: 600px;
    margin-left: -45px;
    padding-bottom: 56px;
    padding-right: 40px;
    color: #343434;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15;
    font-weight: 400;
    line-height: 24px;
  }
}

.services {
  padding: 0;
  &__preface {
    padding-top: 86px;
    padding-bottom: 6px;
    color: #5c70d6;
    font-family: "Lato", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2.44px;
    text-align: center;
  }
  &__title {
    padding-bottom: 10px;
    color: #1a1a1a;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(34);
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .tab-content {
    min-height: 735px;
  }
  &__wrapper-nav {
    margin-bottom: 42px;
    .nav{
      margin-top: 0;
    }
    .nav-item {
      margin: 0;
    }
    .nav-link {
      position: relative;
      padding: 0;
      color: #202020;
      font-family: "Lato", Arial, sans-serif;
      font-size: rem(18);
      font-weight: 700;
      line-height: rem(22);
      text-align: left;
      padding-left: 50px;
      padding-right: 9px;
      padding-top: 6px;
      margin-top: 31px;
      padding-bottom: 12px;
      overflow: visible;
      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 0;
        background-color: #5a6dd2;
        transition: 0.5s;
      }
      &.active {
        color: #5a6dd2;
        &::after {
          width: 100%;
        }
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    padding-top: 36px;
    padding-left: 44px;
    padding-right: 20px;
    padding-bottom: 43px;
    height: 100%;
  }
  &__item-image {
    width: 100%;
    height: 235px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__item-title {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 9px;
    color: #1a1a1a;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(24);
    font-weight: 400;
    line-height: 1;
  }
  &__item-description {
    width: 100%;
    padding-bottom: 8px;
    color: #666666;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  &__wrap-button {
    margin-top: 23px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &__button {
    @include button-blue;
    margin-top: auto;
    padding-left: 29px;
    padding-right: 71px;
    svg {
      position: absolute;
      right: 27px;
      top: 50%;
      margin-top: -12px;
      width: 23px;
      height: 23px;
      fill: #ffffff;
    }
  }
}