header.header
    .header__top-line
      .header__big-container
        .social.header__social
          ul.social__list
            li.social__item
              a.social__icon.social__icon_facebook
                .visually-hidden Фейсбук
                +svg('facebook')
            li.social__item
              a.social__icon.social__icon_vk
                .visually-hidden Вконтакте
                +svg('vk')
            li.social__item
              a.social__icon.social__icon_twitter
                .visually-hidden Твиттер
                +svg('twitter')
        .header__language
          .header__text-language Выберите язык:
          a.header__item-language(href="#") EN
          a.header__item-language.header__item-language_active(href="#") РУС
    
    nav.header-menu
      .header__big-container
        a.header-menu__logo(href="#")
          img(src='images/logo-header.png' height="66" width="66" alt='')
          span
            | Технопарк <br>
            | высоких технологий <br>
            | Свердловской области
        .header-menu__row
          .header-menu__item
            a.header-menu__link О технопарке
            .header-menu__drop-level
              .container
                .row
                  .col-12.col-lg-3
                    .header-menu__drop-item.header-menu__drop-item_one
                      a(href='#').header-menu__drop-link Миссия Технопарка
                      +svg('sub-menu-1')
                  .col-12.col-lg-3
                    .header-menu__drop-item.header-menu__drop-item_two
                      a(href='#').header-menu__drop-link Руководство (команда)
                      +svg('sub-menu-2')
                  .col-12.col-lg-3
                    .header-menu__drop-item.header-menu__drop-item_three
                      a(href='#').header-menu__drop-link Экспертный совет
                      +svg('sub-menu-3')
                  .col-12.col-lg-3
                    .header-menu__drop-item.header-menu__drop-item_four
                      a(href='#').header-menu__drop-link Информация<br>о технопарке
                      +svg('sub-menu-4')
              .header-menu__news
                .container
                  .row.justify-content-center
                    .col-sm-6.col-lg-3
                      a.header-menu__news-item.header-menu__news-item_document Документы
                        +svg('folder')
                    .col-sm-6.col-lg-3
                      a.header-menu__news-item.header-menu__news-item_subscription Подписка на новости
                        +svg('news')
          .header-menu__item
            a.header-menu__link(href="#") Услуги технопарка
          .header-menu__item
            a.header-menu__link(href="#") Резиденты
          .header-menu__item
            a.header-menu__link(href="#") Мероприятия
          .header-menu__item
            a.header-menu__link(href="#") Пресс-центр
          .header-menu__item
            a.header-menu__link(href="#") Контакты
        form.header-menu__form(action="")
          label.header-menu__search
            input(type="text" placeholder="Поиск в технопарке...") 
            +svg('loope')
          button(type="button").header-menu__close-search
            span.visually-hidden Закрыть форму поиска
        .gamburger
          span.gamburger-line1
          span.gamburger-line2
          span.gamburger-line3
        
        
