.footer {
  color: #ffffff;
  background-color: #171134;
  background-image: url("../images/footer-background.jpg");
  background-size: 180px;
  background-position: bottom;
}

.headlines {
  padding-bottom: 22px;
  background-color: #232150;
  &__list {
    margin-right: -15px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      padding-top: 18px;
      color: #ffffff;
      font-family: "Lato", Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
    }
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: #ffcf48;
      }
    }
    
  }
  &__list-title {
    padding-top: 36px;
    padding-bottom: 2px;
    color: #ffcf48;
    font-family: "Lato", Arial, sans-serif;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1;
  }
}

.footer-top {
  &__title {
    cursor: pointer;
    padding-left: 9px;
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    padding-top: 21px;
    padding-bottom: 8px;
    padding-right: 27px;
    transition: 0.2s;
    &:hover {
      color: #ffcf48;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 27px;
     
      width: 10px;
      height: 10px;
      border-top: 3px solid #ffcf48;
      border-left: 3px solid #ffcf48;
      transform: rotate(45deg);
    }
    &_close {
      &::after {
        top: 21px;
        transform: rotate(-135deg);
      }
    }
  }
  &__social {
    padding-top: 20px;
    margin-right: -24px;
    display: flex;
    justify-content: flex-end;
    svg {
      fill: #484fa4;
    }
  }
}

.footer-bottom {
  padding-top: 38px;
  &__logo {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 10px;
    width: 278px;
    height: 85px;
    color: #ffffff;
    font-family: "Meta Pro - Normal", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 34px;
    img {
        width: 66px;
        height: 66px;
        display: block;
        margin-left: 5px;
        margin-right: 12px;
        @include media-breakpoint-down(lg) { 
            width: 50px;
            height: 50px;
            margin-left: 0;
        }
    }
    span {
      display: block;
      padding-top: 5px;
    }
    @include media-breakpoint-down(lg) { 
        width: 228px;
        font-size: 16px;
        line-height: 16px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -31px;
    margin-left: -30px;
    margin-top: 39px;
    li {
      position: relative;
      padding-left: 30px;
      padding-right: 31px;
      padding-bottom: 25px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 2px;
        width: 1px;
        height: 15px;
        background-color: #ffffff;
      }
      &:last-child {
        &::after {
          content: none;
        }
      }
    }
    a {
      color: inherit;
      font-family: "Lato", Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      &:hover,
      &:focus {
        color: #5a6dd2;
      }
    }
  }
  &__contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-top: 3px;
      padding-bottom: 7px;
      padding-left: 21px;
      color: #ffffff;
      font-family: "Lato", Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 14px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.local-icon {
        &::after {
          background-image: url("../images/contact-1.png");
        }
        
      }
      &.phone-icon {
        &::after {
          background-image: url("../images/contact-2.png");
        }
        
      }
      &.mail-icon {
        &::after {
          background-image: url("../images/contact-3.png");
        }
        
      }
    }

    a {
      color: inherit;
      &:hover,
      &:focus {
        color: #5a6dd2;
      }
    }
  }
  &__copyright {
    margin-right: -4px;
    padding-bottom: 23px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    color: rgba(#ffffff, 0.51);
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}