.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 888;
    display: block;
    &__top-line {
        background-color: rgba(#5c70d6, 0.67);
    }
    &__big-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1750px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        @include media-breakpoint-down(md) { 
            flex-wrap: wrap;
        }
    }
    &__social {
        padding-top: 13px;
        padding-bottom: 13px;
        margin-left: auto;
        margin-right: 18px;
    }
    &__language {
        padding-top: 10px;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        color: #c8ceeb;
        font-family: "Lato", Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
    }
    &__item-language {
        margin-left: 6px;
        font-size: 14px;
        display: inline-block;
        vertical-align: baseline;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 8px;
        color: inherit;
        text-transform: uppercase;
        &_active {
            background-image: linear-gradient(to right, #feae31 0%, #efe457 100%);
            color: #362068;
        }
    }
}

.social {
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    &__item {
        display: inline-block;
        vertical-align: middle;
    }
    &__icon {
        display: block;
        padding-left: 18px;
        padding-right: 18px;
       .svg-facebook {
           width: 9px;
           height: 17px;
           fill: #c8ceeb;
       }
       .svg-vk {
            width: 21px;
            height: 13px;
            fill: #c8ceeb;
       }
       .svg-twitter {
            width: 17px;
            height: 13px;
            fill: #c8ceeb;
       }
       &:hover,
       &:focus {
           svg {
                fill: url(#gradient);
           }
       }
    }
}

.header-menu {
    position: relative;
    background-color: rgba(#171134, 0.92);
    .gamburger {
        display: none;
        @include media-breakpoint-down(md) { 
            display: block;
        }
    }
    &__close-search {
        display: none;
    }
    &__row {
        display: flex;
        max-width: 1102px;
        flex-basis: 1102px;
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        @include media-breakpoint-down(md) { 
            display: none;
            order: 2;
            width: 100%;
        }
    }
    &__item {
        flex-grow: 1;
        flex-shrink: 1;
        cursor: pointer;
        &:hover {
            .header-menu__drop-level {
                display: block;
            }
            .header-menu__link {
                background-color: #5c70d6;
            }
        }
    }
    &__logo {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: center;
        width: 278px;
        height: 85px;
        color: #ffffff;
        font-family: "Meta Pro - Normal", Arial, sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 19px;
        margin-right: 34px;
        img {
            width: 66px;
            height: 66px;
            display: block;
            margin-left: 5px;
            margin-right: 12px;
            @include media-breakpoint-down(lg) { 
                width: 50px;
                height: 50px;
                margin-left: 0;
            }
        }
        @include media-breakpoint-down(lg) { 
            width: 228px;
            font-size: 16px;
            line-height: 16px;
        }
    }
    &__drop-level {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #5c70d6;
        box-shadow: 0px 20px 45px -13px rgba(0,0,0,0.73);
    }
    &__link {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 37px;
        padding-bottom: 32px;
        display: block;
        color: #ffffff;
        text-align: center;
        height: 100%;
        font-size: rem(16);
        &:hover,
        &:focus {
            background-color: #5c70d6;
            & + .header-menu__drop-level {
                display: block;
            }
        }
        @include media-breakpoint-down(lg) { 
            font-size: 15px;
            line-height: 15px;
        }
    }
    &__form {
        // position: relative;
        width: 200px;
        max-width: 200px;
        flex-grow: 1;
        flex-shrink: 0;
        height: 100%;
        @include media-breakpoint-down(lg) { 
            width: 21px;
        }
        @include media-breakpoint-down(md) { 
            margin-left: auto;
            margin-right: 15px;
            width: 28px;
            flex-grow: 0;
        }
    }
    &__search {
        display: block;
        position: relative;
        margin-top: 23px;
        margin-bottom: 20px;
        // height: 100%;
        padding-right: 37px;
        min-height: 42px;
        @include media-breakpoint-down(lg) { 
            padding: 0;
        }
        input {
            padding: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            display: block;
            width: 100%;
            text-align: right;
            background-color: transparent;
            border: none;
            color: #999999;
            font-family: "Lato", Arial, sans-serif;
            font-size: 15px;
            line-height: 15px;
            font-weight: 500;
            transition: text-align 0s;
            &:hover {
                & + .svg-loope {
                    fill: url(#gradient);
                }
            }
            @include media-breakpoint-down(lg) { 
                display: none;
            }
        }
        .svg-loope {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 21px;
            height: 20px;
            fill: #adadad;
            margin-top: 10px;
            @include media-breakpoint-down(md) { 
                width: 28px;
                height: 28px;
                margin-top: 6px;
            }
        }
        &_active {
            padding-right: 0;
            position: absolute;
            right: 70px;
            left: 312px;
            top: 0;
            // margin: 0;
            input {
                display: block;
                
                
                text-align: left;
                padding-right: 37px;
                padding-left: 37px;
                background-color: #5c70d6; 
                color: #ffffff;
            }
            .svg-loope {
                right: 20px;
                fill: url(#gradient);
            }
            @include media-breakpoint-down(md) { 
                right: 119px;
            }
        }
    }
    &__close-search {
        position: absolute;
        top: 29px;
        right: 18px;
        width: 28px;
        height: 28px;

        background-color: transparent;
        border: none;
        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -17px;

            width: 36px;
            height: 2px;
            background-color: #adb4d3;
            transform: rotate(-45deg);
        }
        &::before {
            transform: rotate(45deg);
        }
        &:hover,
        &:focus {
            &::after,
            &::before {
                background-image: linear-gradient(to right, #feae31 0%, #efe457 100%);
            }
        }
        @include media-breakpoint-down(md) { 
            right: 76px;
        }
    }
    &__drop-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        svg {
            position: absolute;
            top: 54px;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            fill: #f3d64d;
        }
        &_one {
            svg {
                top: 44px;
                width: 40px;
                height: 61px;
                margin-left: -22px;
            }
        }
        &_two {
            svg {
                top: 46px;
                width: 68px;
                height: 53px;
                margin-left: -34px;
            }
        }
        &_three {
            svg {
                top: 49px;
                width: 54px;
                height: 48px;
                margin-left: -27px;
            }
        }
        &_four {
            svg {
                top: 51px;
                width: 62px;
                height: 45px;
                margin-left: -33px;
            }
        }
        
    }
    &__drop-link {
        position: relative;
        z-index: 2;
        width: 100%;
        padding-top: 123px;
        padding-bottom: 41px;
        // height: 100%;
        
        color: #ffffff;
        display: block;
        text-align: center;
        font-family: "Lato", Arial, sans-serif;
        font-size: rem(16);
        line-height: 1.2;
        font-weight: 500;
        &:hover,
        &:focus {
            color: #f3d64d;
        }
        &:hover + svg,
        &:focus + svg {
            fill: url(#gradient);
        }
    }
    .row > *:not(:last-child) {
        margin-bottom: 0;
    }
    &__news {
        background-color: #f3d64d;
        border-bottom: 1px solid #5c70d6;
    }
    &__news-item {
        position: relative;
        padding-left: 20px;
        padding-top: 22px;
        padding-bottom: 21px;
        display: block;
        color: #362068;
        font-family: "Lato", Arial, sans-serif;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            fill: #362068;
            width: 26px;
            height: 26px;
        }
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        &_document {
            padding-left: 130px;
            svg {
                margin-top: 17px;
                width: 36px;
                height: 28px;
                margin-left: 80px;
            }
        }
        &_subscription {
            padding-left: 78px;
            svg {
                margin-top: 17px;
                margin-left: 35px;
            }
        }
    }
}