include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/bemto.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
    meta(http-equiv='Cache-Control', content='public')
    meta(http-equiv="X-UA-Compatible" content="IE=11")

  body
    // векторный спрайт
    include pug/svg.pug
    // векторный спрайт конец

    include pug/header.pug
    +b.MAIN.page-main
      +b.SECTION.banner(height="100vh")
        +e.slider-list.slider-for
          +e.slide(style="background-image: transparent" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/images/banner-slide-1.jpg")
            .container
              .row
                .col-lg-6.col-md-8
                  +b.about-slide
                    +e.title-top
                      span Технопарк1
                      | высоких технологий Свердловской области
                    +e.title-bottom ... место где рождаются инновации 
                    +e.wrapper-button
                      +e.A.button-more(href="#") Узнать больше
                      +e.A.button-video(href="#" data-toggle="modal" data-target="#videoSlide") Смотреть видео
                        +svg('button-play')

          +e.slide(style="background-image: transparent" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/images/banner-slide-2.jpg")
            .container
              .row
                .col-lg-6.col-md-8
                  +b.about-slide
                    +e.title-top
                      span Технопарк2
                      | высоких технологий Свердловской области
                    +e.title-bottom ... место где рождаются инновации 
                    +e.wrapper-button
                      +e.A.button-more(href="#") Узнать больше
                      +e.A.button-video(href="#") Смотреть видео
                        +svg('button-play')
          +e.slide(style="background-image: transparent" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/images/banner-slide-3.jpg")
            .container
              .row
                .col-lg-6.col-md-8
                  +b.about-slide
                    +e.title-top
                      span Технопарк3
                      | высоких технологий Свердловской области
                    +e.title-bottom ... место где рождаются инновации 
                    +e.wrapper-button
                      +e.A.button-more(href="#") Узнать больше
                      +e.A.button-video(href="#") Смотреть видео
                        +svg('button-play')
          +e.slide(style="background-image: transparent" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/images/banner-slide-4.jpg")
            .container
              .row
                .col-lg-6.col-md-8
                  +b.about-slide
                    +e.title-top
                      span Технопарк4
                      | высоких технологий Свердловской области
                    +e.title-bottom ... место где рождаются инновации 
                    +e.wrapper-button
                      +e.A.button-more(href="#") Узнать больше
                      +e.A.button-video(href="#") Смотреть видео
                        +svg('button-play')
        +e.slider-nav.slider-nav
          +e.nav-item._active
            img(src="images/nav-slide-1.jpg", width="145" height="78" alt="")
            .border
          +e.nav-item
            img(src="images/nav-slide-2.jpg", width="145" height="78" alt="")
            .border
          +e.nav-item
            img(src="images/nav-slide-3.jpg", width="145" height="78" alt="")
            .border
          +e.nav-item
            img(src="images/nav-slide-4.jpg", width="145" height="78" alt="")
            .border

      +b.SECTION.about-work
        +e.header
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.2 99.33">
            <path class="a1" d="M53.13,53.15,101.35,4.94A2.9,2.9,0,0,0,97.25.85L51.1,47,5,.85A2.91,2.91,0,0,0,0,2.89a2.83,2.83,0,0,0,.86,2L49.07,53.13a2.87,2.87,0,0,0,4.06,0Z"/>
            <path class="a2" d="M53.13,98.5l48.22-48.21a2.9,2.9,0,0,0-4.1-4.09L51.1,92.35,5,46.2a2.91,2.91,0,0,0-4.95,2,2.83,2.83,0,0,0,.86,2L49.07,98.48a2.87,2.87,0,0,0,4.06,0Z"/>
          </svg>
          span Технопарк высоких технологий Свердловской области является региональным оператором Фонда &laquo;Сколково&raquo;.
        +e.content._active(style="display: block")
          .container
            +e.title Для кого мы работаем
            +e.tab-list
              +e.progress-bar
                +e.progress-line
              .row
                .col-md-2
                  +e.tab-link Есть идея
                    +e.icon
                      img(src="images/work-1.png", alt="" width="23" height="32")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title У вас есть идея  — 
                          +e.tab-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, numquam.
                .col-md-2
                  +e.tab-link Провожу<br>исследования
                    +e.icon
                      img(src="images/work-2.png", alt="" width="25" height="33")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title Провожу исследования  — 
                          +e.tab-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis obcaecati rem, dolores necessitatibus optio similique?
                .col-md-2
                  +e.tab-link._active Есть прототип
                    +e.icon
                      img(src="images/work-3.png", alt="" width="28" height="23")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title У вас есть прототип  — 
                          +e.tab-text Поможем  с первыми внедрениями и промышленными испытаниями, а также разработаем  конструкторскую документацию и поможем организовать мелкосерийное  производство.
                .col-md-2
                  +e.tab-link Есть продукт
                    +e.icon
                      img(src="images/work-4.png", alt="" width="21" height="30")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title У вас есть продукт  — 
                          +e.tab-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore necessitatibus rem dolores aspernatur reiciendis natus? Quis quidem sed asperiores dolorum! Modi odio quibusdam, officia ullam ab enim sit saepe beatae?
                .col-md-2
                  +e.tab-link Произвожу<br>мелкую серию
                    +e.icon
                      img(src="images/work-5.png", alt="" width="33" height="33")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title Произвожу мелкую серию  — 
                          +e.tab-text Lorem ipsum dolor sit amet consectetur adipisicing.
                .col-md-2
                  +e.tab-link Запускаю<br>серийное<br>производство
                    +e.icon
                      img(src="images/work-6.png", alt="" width="32" height="32")
                    +e.tab-content
                      .row
                        .col-md-4
                          +e.tab-image
                            img(src="images/prototype.png", width="112" height="93" alt="")
                        .col-md-8
                          +e.tab-title Запускаю серийное производство  — 
                          +e.tab-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas quis! Molestias.

      +b.SECTION.services
        .container
          +e.preface Технопарк высоких технологий Свердловской области
          +e.title Услуги и компетенции
          +e.wrapper-nav
            ul.nav.nav-tabs.row.justify-content-lg-center.justify-content-around(role="tablist")
              li.nav-item.col-lg-3.col-4
                a.nav-link.active(data-toggle='tab', href='#services1', role='tab') Специализированные
                  img(src="images/services-1.png", width="38" height="36" alt="")
              li.nav-item.col-lg-3.col-4
                a.nav-link(data-toggle='tab', href='#services2', role='tab') Организационные
                  img(src="images/services-2.png", width="41" height="30" alt="")
              li.nav-item.col-lg-3.col-4
                a.nav-link(data-toggle='tab', href='#services3', role='tab') Консультационные
                  img(src="images/services-3.png", width="31" height="31" alt="")

          .tab-content
            .tab-pane.fade.active.show#services1(role="tabpanel")
              .row
                .col-md-6.mb-md-0
                  +e.item
                    +e.item-image
                      img(src="", alt="")
                    +e.item-title Инжиниринговый центр
                    +e.item-description Это центр компьютерного инжиниринга, направленный на решение производственных задач, связанных с разработкой или оптимизацией существующих изделий, технологических процессов на основе задания Заказчика.
                    +e.wrap-button
                      +e.A.button Узнать больше
                        +svg('question')
                .col-md-6
                  +e.item
                    +e.item-image
                      img(src="images/services-center.png" alt="")
                    +e.item-title Центр поддержки инноваций
                    +e.item-description Региональный центр поддержки инноваций является элементом инновационной инфраструктуры Свердловской области и осуществляет свою деятельность в интересах инновационных предприятий и организаций региона, а также региональных институтов развития и инновационных территориальных кластеров.
                    +e.wrap-button
                      +e.A.button Узнать больше
                        +svg('question')


            .tab-pane.fade#services2(role="tabpanel") 2

            .tab-pane.fade#services3(role="tabpanel") 3

      +b.SECTION.developments
        .container
          .row
            .col-lg-6
              +e.welcome
                +e.title Календарь<br>мероприятий
                +e.text
                  p В Технопарке постоянно проводятся мероприятия различной направленности.
                  p Узнайте больше о предстоящих событиях!
                +e.A.button Узнать об условиях проведения мероприятий
            .col-lg-6
              +b.soon
                +e.title Ближайшие события
                +e.list
                  +e.item
                    +e.image
                      img(src="images/soon-1.png", alt="")
                    +e.content
                      +e.date 23 августа 2018
                      +e.text Технопарк станет площадкой для проведения масштабного проекта ок!нано-тур при поддержке ФИОП РОСНАНО
                  +e.item
                    +e.image
                      img(src="images/soon-2.png", alt="")
                    +e.content
                      +e.date 23 октября 2018
                      +e.text Специальное мероприятие для продвинутых пользователей программного обеспечения FireCat: Pyrosim, Pathfinder, FireRisk.
                  +e.item
                    +e.image
                      img(src="images/soon-3.png", alt="")
                    +e.content
                      +e.date 3 ноября 2018
                      +e.text Семинар-практикум по независимой оценке квалификаций «Оценка квалификации. Траектория профессионального роста».

                +e.A.calendar Посмотреть календарь мероприятий

      +b.SECTION.news
        .container
          +e.title Новости Технопарка
          +e.list
            .row
              .col-md-4
                <a class="news__item">
                  <div class="news__image">
                    img(src="images/news-1.jpg", width="360" height="300" alt="")
                  </div>
                  <div class="news__content">
                    <div class="news__hashtag"> #Новости </div>
                    <div class="news__description">
                      <div class="news__date"> 3 ноября 2018 </div>
                      <div class="news__title-news"> Десант сколково в технопарке «Университетском» </div>
                      <div class="news__text"> Остается чуть более трех суток для регистрации желающих участвовать в Школе «Навигатор инноватора». Мероприятие организовано Фондом Сколково, Открытым университетом Сколково и Технопарком «Университетский». Регистрация производится на сайте Открытого университета Сколково. </div>
                      <div class="news__details"> Подробнее </div>
                    </div>
                  </div>
                </a>
              .col-md-4
                <a class="news__item">
                  <div class="news__image">
                    img(src="images/news-2.jpg", width="360" height="300" alt="")
                  </div>
                  <div class="news__content">
                    <div class="news__hashtag"> #Новости </div>
                    <div class="news__description">
                      <div class="news__date"> 3 ноября 2018 </div>
                      <div class="news__title-news"> Университетский — среди азиатских коллег </div>
                      <div class="news__text"> Остается чуть более трех суток для регистрации желающих участвовать в Школе «Навигатор инноватора». Мероприятие организовано Фондом Сколково, Открытым университетом Сколково и Технопарком «Университетский». Регистрация производится на сайте Открытого университета Сколково. </div>
                      <div class="news__details"> Подробнее </div>
                    </div>
                  </div>
                </a>
              .col-md-4
                <a class="news__item">
                  <div class="news__image">
                    img(src="images/news-3.jpg", width="360" height="300" alt="")
                  </div>
                  <div class="news__content">
                    <div class="news__hashtag"> #Новости </div>
                    <div class="news__description">
                      <div class="news__date"> 3 ноября 2018 </div>
                      <div class="news__title-news"> Наши беспилотники взлетят в Китае? </div>
                      <div class="news__text"> Остается чуть более трех суток для регистрации желающих участвовать в Школе «Навигатор инноватора». Мероприятие организовано Фондом Сколково, Открытым университетом Сколково и Технопарком «Университетский». Регистрация производится на сайте Открытого университета Сколково. </div>
                      <div class="news__details"> Подробнее </div>
                    </div>
                  </div>
                </a>
          +e.A.button Все новости

      <div class="modal fade" id="videoSlide" tabindex="-1" role="dialog" aria-labelledby="videoSlide" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wndllXoH9cI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
                                                                                                                

    include pug/footer.pug
